{% extends "base.html" %} {% block body %}

<div class="main-window">
    <!-- Search Section -->
    <section class="search-section">
        <div class="container" id="search-container">
            <!-- Search bar -->
            <form class="d-flex" role="search">
                <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search for events..."
                    aria-label="Search"
                    id="search-bar"
                />
                <!-- Search button -->
                <button class="btn" type="submit" id="search-confirm-btn">
                    Search
                </button>
            </form>

            <!-- Event Type(s) filter button -->
            <div class="btn-group" id="filter-btn-group">
                <div class="filter-btn-wrapper">
                    <button
                        class="btn dropdown-toggle"
                        data-bs-toggle="dropdown"
                        type="submit"
                        id="event-type-filter-btn"
                    >
                        Event Type
                    </button>
                    <ul
                        class="dropdown-menu dropdown-menu-end"
                        id="dropdown-menu"
                    >
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Live Concert </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Music Festival </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Orchestra </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> DJ Set </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text">
                                Solo Artist Performance
                            </span>
                        </li>
                    </ul>
                </div>
                <!-- End of Event Type(s) filter button -->

                <!-- Event Genre(s) filter button -->
                <div class="filter-btn-wrapper">
                    <button
                        class="btn dropdown-toggle"
                        data-bs-toggle="dropdown"
                        type="submit"
                        id="genres-filter-btn"
                    >
                        Genres
                    </button>
                    <ul
                        class="dropdown-menu dropdown-menu-end"
                        id="dropdown-menu"
                    >
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Alternative </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Blues </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Classical </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text">
                                Contemporary Orchestral
                            </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Electronic </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Experimental </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Funk </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Fusion </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Indie </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Jazz </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Metal </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Pop </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Punk </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Rock </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Swing </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Synthwave </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Techno </span>
                        </li>
                    </ul>
                </div>
                <!-- End of Event Genre(s) filter button -->

                <!-- Event Status filter button -->
                <div class="filter-btn-wrapper">
                    <button
                        class="btn dropdown-toggle"
                        data-bs-toggle="dropdown"
                        type="submit"
                        id="event-status-filter-btn"
                    >
                        Status
                    </button>
                    <ul
                        class="dropdown-menu dropdown-menu-end"
                        id="dropdown-menu"
                    >
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Open </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Inactive </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Sold Out </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <input
                                class="form-check-input mt-0 ms-2"
                                type="checkbox"
                                id="event-checkbox"
                                value=""
                            />
                            <span class="dropdown-text"> Cancelled </span>
                        </li>
                    </ul>
                </div>
                <!-- End of Event Status filter button -->
            </div>
            <!-- End of btn group -->
        </div>
        <!-- End of search container -->
    </section>
    <!-- End of Search Section -->

    <!-- My Tickets Section -->
    <section class="my-tickets-page">
        <!-- Events Page Container -->
        <div class="container" id="my-tickets-page-container">
            <div class="row align-items-start">
                <!-- Padding -->
                <div class="col-sm-0 col-md-3"></div>

                <!-- My ticket 1 -->
                <div class="col-sm-12 col-md-6">
                    <div class="window" id="my-ticket-1">
                        <div class="title-bar">
                            <span class="window-title"
                                >(ORDER ID: #15901850) Crescent City
                                Players</span
                            >
                            <div class="window-controls">
                                <button class="btn">_</button>
                                <button class="btn">☐</button>
                                <button class="btn" id="closebtn">X</button>
                            </div>
                        </div>

                        <!-- window content -->
                        <div class="sub-window">
                            <img
                                src="{{ url_for('static', filename='img/crescent-city-players-poster-horizontal.jpg') }}"
                                class="window-img-top img-fit"
                            />
                            <section class="window-tags">
                                <span class="badge" id="event-type"
                                    >Live Concert</span
                                >
                                <span class="badge" id="event-status-open"
                                    >OPEN</span
                                >
                            </section>
                            <p class="sub-window-content">
                                <strong>> ORDER DATE:</strong> Sept 1, 2025
                                <br />
                                <strong>> PURCHASED TICKET(s):</strong>
                                <br />
                                2x Tier 2: $7.99 + 1 drink of choice
                                <br />
                                1x Tier 3: $14.99 + 2 drinks of choice
                                <br />
                                <br />
                                <strong>> DESCRIPTION: </strong>
                                An intimate evening of smooth jazz and
                                improvisation, featuring local hit talent,
                                Crescent City Players, joined by The Walters and
                                Mojo Webb. Enjoy classic standards and modern
                                tunes in a cozy, relaxed setting.
                                <br />
                                <br />
                                <strong>> ARTIST LINEUP:</strong>
                                Crescent City Players, The Walters and Mojo Webb
                                <br />
                                <strong>> VENUE:</strong> Royal Mail Hotel (92
                                Brisbane Terrace Goodna, QLD)
                                <br />
                                <strong>> DATE:</strong>
                                Sept 30, 2025
                                <br />
                                <strong>> TIME:</strong>
                                1pm-3pm
                                <br />
                                <strong>> GENRES:</strong>
                                <a href="#!">Jazz</a>, <a href="#!">Swing</a>,
                                <a href="#!">Fusion</a>
                            </p>
                            <a
                                class="btn"
                                id="view-details-btn"
                                href="{{ url_for('events_bp.eventdetails') }}"
                            >
                                View details
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End of My ticket 1 -->

                <!-- Padding -->
                <div class="col-sm-0 col-md-3"></div>
            </div>
            <!-- End of row -->

            <div class="row align-items-start">
                <!-- Padding -->
                <div class="col-sm-0 col-md-3"></div>

                <!-- My Ticket 2 -->
                <div class="col-sm-12 col-md-6">
                    <div class="window" id="my-ticket-2">
                        <div class="title-bar">
                            <span class="window-title"
                                >(ORDER ID: #5109751) The Overwhelming
                                Festival</span
                            >
                            <div class="window-controls">
                                <button class="btn">_</button>
                                <button class="btn">☐</button>
                                <button class="btn" id="closebtn">X</button>
                            </div>
                        </div>

                        <!-- window content -->
                        <div class="sub-window">
                            <img
                                src="{{ url_for('static', filename='img/festival.jpg') }}"
                                class="window-img-top img-fit"
                            />
                            <section class="window-tags">
                                <span class="badge" id="event-type"
                                    >Music Festival</span
                                >
                                <span class="badge" id="event-status-open"
                                    >OPEN</span
                                >
                            </section>
                            <p class="sub-window-content">
                                <strong>> ORDER DATE:</strong> Jan 1, 2025
                                <br />
                                <strong>> PURCHASED TICKET(s):</strong>
                                <br />
                                1x Tier 1: $9.00
                                <br />
                                <br />
                                <strong>> DESCRIPTION: </strong>
                                Three stages, 600 bands, 30 taco trucks, 1
                                working portaloo. An afternoon to remember (or
                                forget).
                                <br />
                                <br />
                                <strong>> ARTIST LINEUP:</strong>
                                Do I really need to list all 600?
                                <br />
                                <strong>> VENUE:</strong> Abandoned Bunnings
                                Warehouse, Perth
                                <br />
                                <strong>> DATE:</strong>
                                Dec 12, 2025
                                <br />
                                <strong>> TIME:</strong>
                                12pm-12am
                                <br />
                                <strong>> GENRES:</strong>
                                <a href="#!">Pop</a>,
                                <a href="#!">Electronic</a>,
                                <a href="#!">Techno</a>,
                                <a href="#!">Indie</a>
                            </p>
                            <a
                                class="btn"
                                id="view-details-btn"
                                href="{{ url_for('events_bp.eventdetails') }}"
                            >
                                View details
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End of My Ticket 2 -->

                <!-- Padding -->
                <div class="col-sm-0 col-md-3"></div>
            </div>
            <!-- End of row -->

            <div class="row align-items-start">
                <!-- Padding -->
                <div class="col-sm-0 col-md-3"></div>

                <!-- My ticket 3 -->
                <div class="col-sm-12 col-md-6">
                    <div class="window" id="my-ticket-3">
                        <div class="title-bar">
                            <span class="window-title"
                                >(ORDER ID: #0915719) Optimistic Yeti: Doom
                                Jazz</span
                            >
                            <div class="window-controls">
                                <button class="btn">_</button>
                                <button class="btn">☐</button>
                                <button class="btn" id="closebtn">X</button>
                            </div>
                        </div>

                        <!-- window content -->
                        <div class="sub-window">
                            <img
                                src="{{ url_for('static', filename='img/yeti.jpg') }}"
                                class="window-img-top img-fit"
                            />
                            <section class="window-tags">
                                <span class="badge" id="event-type"
                                    >Solo Artist Performance</span
                                >
                                <span class="badge" id="event-status-sold-out"
                                    >SOLD OUT</span
                                >
                            </section>
                            <p class="sub-window-content">
                                <strong>> ORDER DATE:</strong> Sept 7, 2025
                                <br />
                                <strong>> PURCHASED TICKET(s):</strong>
                                <br />
                                5x Tier 5 (VIP): $109.99
                                <br />
                                <br />
                                <strong>> DESCRIPTION: </strong>
                                The elusive Optimistic Yeti descends from the
                                Blue Mountains once a year to perform a doom
                                jazz set that critics describe as "The kind of
                                music you hear right before a haunted elevator
                                drops".
                                <br />
                                <br />
                                <strong>> ARTIST LINEUP:</strong>
                                Optimistic Yeti
                                <br />
                                <strong>> VENUE:</strong> Aisle 12 (frozen
                                foods), 24/7 IGA, Hobart
                                <br />
                                <strong>> DATE:</strong>
                                The winter solstice
                                <br />
                                <strong>> TIME:</strong>
                                6:30pm-10:50pm
                                <br />
                                <strong>> GENRES:</strong>
                                <a href="#!">Experimental</a>,
                                <a href="#!">Jazz</a>,
                                <a href="#!">Metal</a>
                            </p>
                            <a
                                class="btn"
                                id="view-details-btn"
                                href="{{ url_for('events_bp.eventdetails') }}"
                            >
                                View details
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End of My ticket 3 -->

                <!-- Padding -->
                <div class="col-sm-0 col-md-3"></div>
            </div>
            <!-- End of row -->
        </div>
        <!-- End of Events Page Container -->
    </section>
    <!-- End of Events List Section -->
</div>
{% endblock %}
