{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block body %}
<div class="centered-form">

    {# Flash message section #}
    {% with messages = get_flashed_messages(category_filter=['login_error']) %}
        {% if messages %}
            <div class="error">
                {% for message in messages %}
                    <span>{{ message }}</span>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

        {# Flash message section #}
    {% with messages = get_flashed_messages(category_filter=['registration_success']) %}
        {% if messages %}
            <div class="success">
                {% for message in messages %}
                    <span>{{ message }}</span>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="centered-form">
        {{ render_form(form, method="POST", button_map={"submit": "primary"}) }}
    </div>

    <p>Don't have an account? 
        <a href="{{ url_for('auth_bp.register') }}">Register here</a>.
    </p>
</div>
{% endblock %}