/* FONTS */
@font-face {
    font-family: "W95FA";
    src: url("../fonts/W95FA/w95fa.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* GLOBAL VARIABLES */
/* * it's best to declare and tweak any variables (i.e. colours) that will be used
across multiple sections/pages here. This ensures proper consistency in styling and behaviour. */
:root {
    /* Font variables */
    --font-family: "W95FA", Arial, Helvetica, sans-serif;
    --font-colour-primary: rgb(239, 239, 239);
    --font-colour-seconday: #000000;

    /* Border variables */
    --border-colour: #000000;
    --border: 3px solid var(--border-colour);

    /* Colour scheme */
    --primary-colour: rgb(0, 75, 90);
    --secondary-colour: rgb(124, 157, 140);
    --tertiary-colour: rgb(96, 115, 96);
    --quaternary-colour: rgb(96, 115, 96, 0.5);

    --accent-colour-1: rgba(53, 135, 164);
    --accent-colour-2: rgb(104, 143, 146); /* unused */
    --accent-colour-3: rgb(71, 194, 130);
    --accent-colour-4: rgb(192, 66, 57);

    --button-colour-1: rgb(126, 159, 142);
    --button-colour-2: rgb(189, 115, 110);

    --button-colour-3: rgb(192, 66, 57);
    --button-colour-4: rgba(53, 135, 164);
    --button-colour-5: rgba(61, 190, 233, 0.484); /* unused */

    --button-pressed-colour: rgba(255, 255, 255, 0.7);

    /* Main page background */
    --background: radial-gradient(
        ellipse at bottom,
        var(--primary-colour) 0%,
        var(--secondary-colour) 100%
    );

    --navbar-background: var(--tertiary-colour);

    /* Styling for 'windows' */
    --window-main-colour: var(--secondary-colour);
    --window-sub-colour: var(--quaternary-colour);
    --window-title-colour: var(--tertiary-colour);
    --window-button-colour: var(--button-colour-1);
    --window-close-button-colour: var(--button-colour-2);

    --window-button-border: 2px solid var(--border-colour);
    --window-border-radius: 9px;

    /* Event status badges */
    --event-status-open-colour: var(--accent-colour-3);
    --event-status-sold-out-colour: var(--accent-colour-4);
    --event-status-cancelled-colour: var(--accent-colour-4);
    --event-status-inactive-colour: var(--accent-colour-2);

    /* Footer colours */
    --social-container-bg-colour: var(--primary-colour);
    --copyright-bg-colour: rgba(0, 0, 0, 0.5);

    /* Scrollbar shadow */
    --scrollbar-thumb-btn-colour: var(--primary-colour);
    --scrollbar-track-colour: var(--button-pressed-colour);
    --scrollbar-hover-colour: darkgray;
    --scrollbar-box-shadow: inset 0 0 2px white;
}

main {
    flex: 1; /* pushes footer to bottom */
}

/* Apply base font and themes */
body {
    font-family: var(--font-family);
    background: var(--background);

    min-height: 100vh; /* body always fills full viewport height */
    display: flex;
    flex-direction: column;
}

/* BUTTONS */
/* Global styling & behaviour for all buttons */
/* Individual behaviour is defined via id's or classes */

.btn {
    /* * button borders may need to be defined locally, 
    otherwise they can run into a glitch where the border is overriden
    by the hover & active box shadows.
    */
    border: var(--border);
}

.btn:hover {
    cursor: pointer; /* ensure cursor is showed as pointer on hover */
    box-shadow: 1px 1px white; /* highlight on hover */
}

.btn:active {
    box-shadow: 1px 1px white; /* highlight on press */
    transform: translateY(2px); /* move on press */
}

/* DROPDOWN MENUS */
/* Global styling for dropdown menus */

/* Dropdown menu itself */
.dropdown-menu {
    color: var(--font-colour-primary);
    background: var(--primary-colour);
    border: var(--border);
}

/* Text inside dropdown menus */
.dropdown-text {
    padding: 0.25rem 0.5rem;
    cursor: default;
}

/* NAVBAR */
/* Base nav styling */
nav {
    font-size: 18px;
    background: var(--navbar-background);
    border-bottom: 3px solid var(--border-colour);
}

/* Change colour of nav items */
.nav-item a {
    color: white !important; /* override bootstrap default */
}

.nav-item a:hover {
    color: black !important; /* override bootstrap default */
}

/* 'Help' dropdown menu */
#navbar-nav .dropdown-menu {
    /* Links inside dropdown menu */
    a {
        color: var(--font-colour-primary);
    }
}

/* Container for navbar title */
.navbar-title {
    overflow: visible; /* keep animation visible */
    top: 0%;
    animation: noise 0.2s linear infinite; /* main flicker effect */
    color: var(--font-colour-seconday);
}

/* <a> element inside navbar title */
.navbar-title a {
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}

/* Elements to create glitch effect */
.navbar-title:before,
.navbar-title:after {
    content: "Club95";
    font-size: 41px;
    font-style: italic;
    font-weight: bold;
    position: absolute; /* keep animation on top */
    opacity: 0;
}

/* First glitch effect */
.navbar-title:before {
    color: red;
    animation: noise-1 0.5s linear infinite; /* horizontal flicker layer */
}

/* Second glitch effect */
.navbar-title:after {
    color: blue;
    animation: noise-2 0.5s linear infinite; /* opposite (direction) flicker */
}

/* Glitch effects */
@keyframes noise {
    0%,
    3%,
    5%,
    42%,
    44%,
    100% {
        opacity: 1;
        transform: scaleY(1);
    } /* vertical stretch */
    4.3% {
        opacity: 1;
        transform: scaleY(1.7);
    } /* horizontal stretch */
    43% {
        opacity: 1;
        transform: scaleX(1.5);
    } /* horizontal stretch */
}

@keyframes noise-1 {
    0%,
    20%,
    40%,
    60%,
    70%,
    90% {
        opacity: 0;
    } /* mostly invisible */
    10% {
        opacity: 0.1;
    } /* brief flicker */
    50% {
        opacity: 0.5;
        left: 6px;
    } /* visible and displaced right */
    80% {
        opacity: 0.3;
    } /* intermediate opacity */
    100% {
        opacity: 0.6;
        left: -2px;
    } /* visible and displaced left at end */
}

@keyframes noise-2 {
    0%,
    20%,
    40%,
    60%,
    70%,
    90% {
        opacity: 0;
    } /* mostly invisible */
    10% {
        opacity: 0.1;
    } /* brief flicker */
    50% {
        opacity: 0.5;
        left: -6px;
    } /* visible and displaced left */
    80% {
        opacity: 0.3;
    } /* intermediate opacity */
    100% {
        opacity: 0.6;
        left: 2px;
    } /* visible and displaced right at end */
}

/* heading */
/* Indicates the purpose of the page */
#heading {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: var(--font-colour-seconday);
    position: relative;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* FOOTER */
/* Base footer properties */
footer {
    color: var(--font-colour-primary);
    font-style: italic;
    letter-spacing: 0.05em;
    display: flex;
    flex-direction: column;
}

/* Holds the social link buttons */
#social-container {
    background-color: var(--social-container-bg-colour);
    border-top: var(--border);
    border-bottom: var(--border);

    display: flex;
    justify-content: center;
    align-items: center;

    .btn-floating {
        padding: 0; /* remove default padding */
        border-radius: 50%;
    }
}

/* Holds the copyright information */
#copyright-bar {
    text-align: center;
    background-color: var(--copyright-bg-colour);
}

/* SEARCH BAR */
/* Holds the search bar, search button, and genre/type filters */
/* * dropdown menu properties are defined in global properties */
/* Override these if necessary:
   - .dropdown-menu { color, background, border }
   - .dropdown-text { padding, cursor }
*/
.search-section {
    margin-top: 1rem;
    margin-bottom: 2rem;

    /* Apply border to search bar */
    #search-bar {
        border: var(--border);
    }

    /* Confirm search button */
    #search-confirm-btn {
        color: var(--font-colour-primary);
        background-color: var(--button-colour-4);
    }

    /* 'Event Type', 'Genres', & 'Status' filter buttons */
    #filter-btn-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 0.5rem;
    }

    #event-type-filter-btn,
    #genres-filter-btn,
    #event-status-filter-btn {
        color: var(--font-colour-primary);
        background-color: var(--button-colour-4);

        /* Center */
        margin-right: 1rem;
        margin-left: 1rem;
        width: 7rem;
    }
}

/* 'WINDOW' STYLING */
/* * Global styling for all 'windows' */
/* * this styling is made based on and intended initially for the home page, any
further tweaking for other pages / sections should be done via unique ID's only */

/* Customise the scrollbar (globally) */
/* * not visible on Firefox, sadly. */
html::-webkit-scrollbar,
.sub-window-content::-webkit-scrollbar {
    border: var(--border);
    /* ? transform: scale() to adjust border for viewport */
}

html::-webkit-scrollbar-track,
.sub-window-content::-webkit-scrollbar-track {
    border: var(--border);
    background-color: var(--scrollbar-track-colour);
    box-shadow: var(--box-shadow);
}

html::-webkit-scrollbar-thumb,
.sub-window-content::-webkit-scrollbar-thumb {
    border: var(--border);
    background-color: var(--scrollbar-thumb-btn-colour);
    box-shadow: var(--scrollbar-box-shadow);
}

html::-webkit-scrollbar-thumb:hover,
.sub-window-content::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover-colour);
    box-shadow: var(--box-shadow);
}

html::-webkit-scrollbar-button,
.sub-window-content::-webkit-scrollbar-button {
    border: var(--border);
    background-color: var(--scrollbar-thumb-btn-colour);
    box-shadow: var(--scrollbar-box-shadow);
    border-bottom: none;
    border-top: none;
    display: flex;
    height: 20px;
}

html::-webkit-scrollbar-button:hover,
.sub-window-content::-webkit-scrollbar-button:hover {
    background-color: var(--scrollbar-hover-colour);
}

/* Events window styling */
.window {
    position: relative;

    /* Add spacing between each window. */
    /* - useful for smaller viewports when windows are stacked vertically */
    /* - also accounts for spacing between header and footer */
    margin-top: 2rem;
    margin-bottom: 2rem;

    /* Fixed height to keep windows consistent */
    height: 500px;

    color: var(--font-colour-primary);
    background: var(--window-main-colour);
    border: var(--border);
    border-radius: var(--window-border-radius);
    padding: 3px; /* fix padding between content and container */

    /* Grow to fit different window sizes */
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    /* Title bar to hold the title and window buttons */
    .title-bar {
        display: flex;
        justify-content: space-between; /* keep space between title and buttons */
        align-items: center;
        padding: 2px 5px;
        background-color: var(--window-title-colour);
        border-radius: 6px;
        font-size: larger;
        font-weight: bold;
        margin-bottom: 2px;
    }

    /* Aesthetic window control buttons */
    /* (The buttons are purely for aesthetics and fun) */
    .window-controls {
        display: flex;
        gap: 2px;

        /* Global properties for all three window buttons */
        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            height: 25px;
            width: 25px;
            border: var(--window-button-border);
            border-radius: 2px;
            background-color: var(--window-button-colour);
            box-shadow: 1px 1px;
        }

        #btn:hover {
            color: var(--font-colour-primary);
            box-shadow: 1px 1px white;
        }

        /* Close ('X') button is red */
        #closebtn {
            background-color: var(--window-close-button-colour);
        }

        /* Animate on press */
        .btn:active {
            background: var(--button-pressed-colour);
            transform: translateY(1px); /* * Try pressing one of the buttons */
        }

        #closebtn:active {
            background: var(--button-pressed-colour);
            transform: translateY(1px);
        }
    }

    /* window tags */
    /* Holds a badge to display the event type, and a badge to indicate the status */
    .window-tags {
        display: flex;
        flex-direction: row;
        overflow: auto;
        justify-content: space-between;
        background-color: var(--tertiary-colour);

        /* Divider between tags and description */
        border-bottom: var(--border);

        .badge {
            font-size: 15px;
            margin-top: 2px;
            margin-bottom: 2px;
            margin-left: 6px;
            margin-right: 6px;
            border: var(--border);
            user-select: none; /* stop text highlighting on press */
        }

        /* Badge that indicates the type of event */
        #event-type {
            background-color: var(--accent-colour-1);
        }

        /* Badge that indicates the event is OPEN for purchasing tickets */
        /* Used when tickets are still available */
        #event-status-open {
            background-color: var(--event-status-open-colour);
        }

        /* Badge that indicates the event is INACTIVE */
        /* Used when an event is no longer active - i.e. a past event */
        #event-status-inactive {
            background-color: var(--event-status-inactive-colour);
        }

        /* Badge that that indicates the event is SOLD OUT */
        /* Used when tickets have been sold out */
        #event-status-sold-out {
            background-color: var(--event-status-sold-out-colour);
        }

        /* Badge that indicates the event has been CANCELLED */
        #event-status-cancelled {
            background-color: var(--event-status-cancelled-colour);
        }

        /* ? Future implementations could allow the badges to be clickable to quickly filter */
        .badge:hover {
            cursor: pointer;
            box-shadow: 1px 1px white;
        }

        .badge:active {
            background-color: var(--button-pressed-colour);
            box-shadow: 1px 1px white;
            transform: translateY(1px);
        }
    }

    /* Inner content window */
    /* Holds the promotional image, status, description, and "view details" button */
    .sub-window {
        color: var(--font-colour-primary);
        border: var(--border);
        border-radius: var(--window-border-radius);
        background-color: var(--window-sub-colour);

        display: flex;
        flex-direction: column;
        flex-grow: 1;

        /* Allows scrolling if text exceeds available window space */
        overflow: auto;

        /* Keep window images the same ratio */
        .img-fit {
            aspect-ratio: 16 / 9;
            object-fit: fill;
            object-position: center;
            width: 100%; /* Stretch to full width of .sub-window container */
            border-bottom: var(
                --border
            ); /* Divider between image and text box */
        }

        .sub-window-content {
            text-align: left;
            padding: 0.2rem 0.5rem;

            /* Hide behind view details button when overflowing */
            overflow-y: scroll;
            margin-bottom: 0px;
            flex: 1; /* push view details button down */
        }

        #view-details-btn {
            margin-left: 3px;
            margin-right: 3px;
            margin-bottom: 3px;
            color: var(--font-colour-primary);
            background: var(--button-colour-3);
            border: solid 3px var(--border-colour);
            font-weight: bold;
        }
    }
}

/* EVENT DETAILS PAGE */
/* The page where a user can view the full details of the event selected. */

/* EVENT POSTER */
/* Holds the promotional image for the event */
#event-poster-window {
    height: 100%;
    width: 100%;

    margin-top: 1rem;
    margin-bottom: 3rem; /* space out poster from middle section */

    .sub-window {
        border-bottom: 0px; /* remove base border on bottom */
        .img-fit {
            aspect-ratio: 2 / 1;
            border-bottom: 0px; /* remove base border */
        }
    }
}

/* DESCRIPTION, VENUE/DATE/TIME & EVENT TAGS */
/* Consistent styling for first row */
#event-description-window,
#event-venue-date-time-window,
#event-tags-window {
    max-height: 250px;
    width: 100%;

    margin-top: 0rem;
    margin-bottom: 1rem;

    .sub-window {
        .sub-window-content {
            overflow: auto;
            font-size: larger;
        }
    }
}

/* EVENT TAGS */
/* Holds the tags for the event */
#event-tags-window {
    height: auto;

    margin-top: 0rem;

    .window-tags {
        flex-direction: column;
        overflow: auto;
        justify-content: center;
        margin-bottom: 0rem;

        border-bottom: 0px; /* remove base border on bottom */

        .badge {
            font-size: 23px;
            margin-top: 4px;
            margin-bottom: 4px;
            margin-left: 8px;
            margin-right: 8px;
        }
    }
}

/* TICKET TIERS */
/* Notes the tiers of tickets along with their price and benefits */
#ticket-tiers-window {
    height: auto;
    width: 100%;

    margin-top: 0rem;
    margin-bottom: 0rem;

    .sub-window {
        .sub-window-content {
            overflow: auto;
            font-size: larger;
        }
    }
}

/* VENUE MAP */
#venue-map-window {
    margin-top: 0rem;
    margin-bottom: 1rem;

    height: auto;
    width: 100%;
}

/* PURCHASE TICKETS BUTTON */
/* Users can press this button to purchase a ticket(s) */
/* TODO: Customise modal to match styling */
/* ? Future implementation: add a carousel (styled) button to increase/decrease ticket quantity? */
#purchase-tickets-btn-group {
    height: 100%;
    width: 100%;

    margin-top: 0rem;
}

#purchase-tickets-btn {
    color: var(--font-colour-primary);
    border: var(--border);
    background-color: var(--button-colour-3);

    margin-top: 0rem;
    margin-bottom: 3rem;
}

/* Customise content inside modal */
/* ? Change model itself into 'window'? */
.modal-content {
    color: var(--font-colour-primary);
    background: var(--primary-colour);
    border: var(--border);

    /* Customise ticket tier labels */
    #ticket-tier-label {
        border: var(--border);
        border-radius: 5px;
        background: var(--accent-colour-2);
        padding: 5px;
    }
}

/* EVENT MEDIA WINDOW */
/* Holds all the pictures and/or videos related to the event */
#event-media-window {
    margin-top: 0rem;
    margin-bottom: 3rem; /* add spacing between media and comments section */

    height: 100%;
    width: 100%;

    .sub-window {
        border-bottom: 0px; /* remove base border on bottom */
        background-color: black;

        .img-fit {
            max-width: 100%;
            height: auto;
            object-fit: contain;
            border-bottom: 0px; /* remove base border */
        }
    }
}

/* COMMENT SECTION */
/* Window for the user to post a comment(s) on the event */
#post-comment-window {
    margin-top: 0rem;
    margin-bottom: 2rem;

    height: 100%;
    width: 100%;

    .sub-window {
        .sub-window-content {
            font-size: larger;
        }
    }
}

/* Holds the form for the user to enter a comment */
#post-comment-form {
    margin: 5px;

    .enter-comment {
        margin-left: 5px;
    }

    .form-control {
        border: var(--border);
    }
}

/* Finialises and posts the comment (if any) */
#post-comment-btn {
    margin: 5px;

    color: var(--font-colour-primary);
    border: var(--border);
    background-color: var(--button-colour-6);
}

/* Existing comments */
#event-comments-window {
    margin-top: 0rem;
    margin-bottom: 2rem;

    height: 250px;
    width: 100%;

    .sub-window {
        .sub-window-content {
            font-size: larger;
        }
    }
}

/* The button to start replying to a comment */
#reply-to-comment-btn,
#post-comment-btn {
    color: var(--font-colour-primary);
    border: var(--border);
    background-color: var(--button-colour-4);
    margin: 5px;
}

/* CREATE EVENT PAGE */
/* The page where a user can create an event by entering all the details. */

/* EVENT NAME */
/* The name of the event */
#enter-event-name-window {
    margin-top: 3rem;
    margin-bottom: 1rem;

    height: 100%;
    width: 100%;
}

/* EVENT DESCRIPTION */
/* The description of the event */
#enter-event-description-window {
    margin-top: 0rem;
    margin-bottom: 1rem;

    height: 100%;
    width: 100%;

    #description-help {
        color: var(--font-colour-seconday);
        margin-left: 10px;
        margin-bottom: 5px;
    }
}

/* EVENT POSTER */
/* * Users must upload a poster for their event to 
be used on the event listing page */

#upload-event-poster-window {
    margin-top: 0rem;
    margin-bottom: 1rem;

    height: 100%;
    width: 100%;

    /* Add padding between content and window */
    .sub-window {
        padding: 5px;
    }

    /* Add border to input form */
    .form-control {
        border: var(--border);
    }

    /* Customise form button */
    .form-control::file-selector-button {
        color: var(--font-colour-primary);
        background-color: var(--button-colour-4);
        border-right: var(
            --border
        ); /* add border between "Browse.." and file upload bar */
    }
}

/* EVENT LOCATION */
/* The location of the event */
#enter-event-location-window {
    margin-top: 0rem;
    margin-bottom: 1rem;

    height: 100%;
    width: 100%;
}

/* EVENT DATE */
/* The date of the event */
#enter-event-date-window {
    margin-top: 0rem;
    margin-bottom: 1rem;

    height: 100%;
    width: 100%;
}

/* EVENT START/END TIMES */
/* The start and end times of the event */
#enter-event-start-time-window,
#enter-event-end-time-window {
    margin-top: 0rem;
    margin-bottom: 1rem;

    height: 100%;
    width: 100%;
}

/* EVENT GENRES */
/* The genres performed by the artists during the event */
#enter-event-genres-btn-group {
    margin-top: 0rem;
    margin-bottom: 4rem; /* add spacing between genres btn and artist lineup */

    height: 100%;
    width: 100%;
}

#enter-event-genres-btn {
    color: var(--font-colour-primary);
    border: var(--border);
    background-color: var(--button-colour-3);
}

/* ARTIST LINEUP */
/* The artist lineup for the event */
#enter-artist-name-window,
#enter-artist-set-time-window {
    margin-top: 0rem;
    margin-bottom: 1rem;

    height: 100%;
    width: 100%;
}

/* ADD MORE ARTISTS BUTTON */
/* A button to add more artists to the lineup */
/* TODO: future implementation; pressing this button would generate x amount
of rows for 'artist name' and 'set time' windows */
#add-more-artists-btn-group {
    margin-top: 0rem;
    margin-bottom: 4rem; /* add spacing between add more artists btn and tickets */

    height: 100%;
    width: 100%;
}

#add-more-artists-btn {
    border: var(--border);
    background-color: var(--button-colour-5);
}

/* TICKET TIERS, PRICES & QUANTITIES *Purchased TickeMy ts /
/* Users must enter at least one ticket tier, and the no. (quantity) of
tickets belonging to that tier. */

/* 
    * Ticket tier: Can be entered in any format, e.g. "Tier X: VIP", "VIP", "10" etc.
    * Price: Must be entered in decimal form: xx.xx, e.g. "50.00", "29.99", "01.00" etc.
    * Quantity: Must be enetered in whole integer form: e.g. "100", "5", "9000" etc.
*/

#enter-ticket-tier-window,
#enter-ticket-price-window,
#enter-ticket-quantity-window {
    margin-top: 0rem;
    margin-bottom: 1rem;

    height: 100%;
    width: 100%;
}

/* ADD MORE TICKET TIERS BUTTON */
/* A button to add more ticket tiers (& their prices/quantities) */
/* TODO: future implementation: pressing this button would generate x amount
of more rows of ticket tier (+ prices/quantities) windows for the user to enter. */

#add-more-ticket-tiers-btn-group {
    margin-top: 0rem;
    margin-bottom: 1rem;

    height: 100%;
    width: 100%;
}

#add-more-ticket-tiers-btn {
    border: var(--border);
    background-color: var(--button-colour-5);
    margin-bottom: 4rem;
}

/* ADDITIONAL MEDIA */
/* Users may (optionally) upload any additional media to advertise
their event (or past events). */

#upload-additional-media-window {
    margin-top: 0rem;
    margin-bottom: 1rem;

    height: 100%;
    width: 100%;

    /* Add padding between content and window */
    .sub-window {
        padding: 5px;
    }

    /* Add border to input form */
    .form-control {
        border: var(--border);
    }

    /* Customise form button */
    .form-control::file-selector-button {
        color: var(--font-colour-primary);
        background-color: var(--button-colour-4);
        border-right: var(
            --border
        ); /* add border between "Browse.." and file upload bar */
    }
}

/* POST EVENT BUTTON */
/* Once the user has finalised all the (non-optional) details for their event,
they can press this button to post it. */

/* 
* Certain fields will need to be completed before the user is allowed to post 
the event (title, desc, poster, location, date, start/end times, genres, 
at least one artist name, and at least one ticket tier(s) and quantity(ies).  
*/

#post-event-btn-group {
    margin-top: 0rem;
    margin-bottom: 4rem;

    height: 100%;
    width: 100%;
}

#post-event-btn {
    border: var(--border);
    background-color: var(--button-colour-3);
}

/* MY TICKETS PAGE */
/* This page allows the user to view all their currently (and past) purchased tickets,
as well as filter, search and sort them. */

#my-ticket-1,
#my-ticket-2,
#my-ticket-3 {
    margin-top: 2rem;
    margin-bottom: 1rem;

    height: 100%;
    width: 100%;
}


/* FORM ELEMENTS */
    /* Center forms */
    .centered-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 60vh;

        width: 100%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

/* user profile elements */
.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #010306;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#edit-profile-type{
    color: var(--font-colour-primary);
    background-color: var(--button-colour-4);
}

#leave-profile-type{
    color: var(--font-colour-primary);
    background-color: var(--button-colour-2);
}