.btn-primary {
    border: var(--border);
    background-color: var(--button-colour-3);
}

.btn-primary:hover {
    border: var(--border);
    background-color: var(--button-colour-3);

    cursor: pointer; /* ensure cursor is showed as pointer on hover */
    box-shadow: 1px 1px white; /* highlight on hover */
}

.btn-primary:active {
    border: var(--border) !important;
    background-color: var(--button-colour-3) !important;

    transform: translateY(2px) !important; /* move on press */
    box-shadow: 1px 1px white !important; /* highlight on press */
}
