/* MY EVENTS PAGE */
/* The page where the user can see their created events and update them */
/* * most elements and styling were ported from the create events page,
    some things may be redundant, however we didn't have enough time
    to skim through and finish cleaning this page. 
*/

/* Events window styling */
.event-card-column.editing-active {
    width: 100%;
    height: 100%;
}

.event-card.editing {
    height: 100%;

    .form-label {
        padding: 5px;
    }
}

/* EVENT MEDIA */
.image-edit-hint {
    padding: 5px;
}

.window-img-top.image-editable-active {
    cursor: pointer;
}

#edit-event-media-window {
    margin-top: 1rem;
    margin-bottom: 0rem;

    height: 100%;
    width: 100%;

    /* Add padding between content and window */
    .sub-window {
        padding: 5px;
    }

    /* Add border to input form */
    .form-control {
        border: var(--border);
    }

    /* Customise form button */
    .form-control::file-selector-button {
        color: var(--font-colour-primary);
        background-color: var(--button-colour-4);
        border-right: var(--border);
    }
}

.delete-media.btn {
    height: 100%;
    width: 100%;
    margin-top: 1rem;
}

/* EVENT NAME */
#edit-event-name-window {
    margin-top: 1rem;
    margin-bottom: 0rem;

    height: 100%;
    width: 100%;
}

/* EVENT DESCRIPTION */
/* The description of the event */
#edit-event-description-window {
    height: 100%;
    width: 100%;

    margin-top: 1rem;
    margin-bottom: 1rem;

    .form-control {
        padding: 5px;
        border: var(--border);
    }
}

/* EVENT LOCATION */
/* The location of the event */
#edit-event-location-window {
    margin-top: 0rem;
    margin-bottom: 0rem;

    height: 100%;
    width: 100%;
}

/* EVENT DATE */
/* The date of the event */
#edit-event-date-window {
    margin-top: 0rem;
    margin-bottom: 0rem;

    height: 100%;
    width: 100%;
}

/* EVENT START/END TIMES */
/* The start and end times of the event */
#edit-event-start-time-window {
    margin-top: 1rem;
    margin-bottom: 0rem;

    height: 100%;
    width: 100%;
}

#edit-event-end-time-window {
    margin-top: 1rem;
    margin-bottom: 0rem;

    height: 100%;
    width: 100%;
}

/* EVENT TYPE */
/* The type of event (e.g. 'Concert', 'DJ Set' etc. */
.edit-event-type-section {
    margin-top: 1rem;
    margin-bottom: 0rem;
    color: var(--font-colour-primary);
}

.edit-event-type-section .edit-event-type-field {
    height: 100%;
    width: 100%;

    border: var(--border);
    color: var(--font-colour-primary);
    background: var(--button-colour-4);
}

.edit-event-type-section .event-type-field:hover {
    cursor: pointer; /* ensure cursor is showed as pointer on hover */
    border: var(--border);
    color: var(--font-colour-primary);
    background: var(--button-colour-4);
    box-shadow: 1px 1px white; /* highlight on hover */
}

.edit-event-type-section .event-type-field:active {
    cursor: pointer; /* ensure cursor is showed as pointer on hover */
    border: var(--border);
    color: var(--font-colour-primary);
    background: var(--button-colour-4);
    box-shadow: 1px 1px white; /* highlight on press */
    transform: translateY(2px); /* move on press */
}

.edit-event-type-section .event-type-field:focus {
    cursor: pointer; /* ensure cursor is showed as pointer on hover */
    border: var(--border);
    color: var(--font-colour-primary);
    background: var(--button-colour-4);
    box-shadow: 1px 1px white; /* highlight on press */
}

/* EVENT GENRES */
/* The genres performed by the artists during the event */
#edit-event-genres-window {
    height: 100%;
    width: 100%;

    margin-top: 1rem;
    margin-bottom: 0rem;

    .sub-window {
        padding: 5px;
    }

    .form-select {
        border: var(--border);
    }
}

.edit-event-genres.section #enter-event-genres-btn-group {
    margin-top: 0rem;
    margin-bottom: 1rem;

    height: 100%;
    width: 100%;
}

.edit-event-genres.section #enter-event-genres-btn {
    color: var(--font-colour-primary);
    border: var(--border);
    background-color: var(--button-colour-3);
}

.edit-event-genres.section #new-genre {
    font: var(--font-colour-primary);
    border: var(--border);

    margin-top: 0rem;
    margin-bottom: 1rem;

    width: 100%;
}

.edit-event-genres.section .add-genre-confirm-btn {
    color: var(--font-colour-primary);
    background-color: var(--button-colour-3);

    margin-top: 0rem;
    margin-bottom: 3rem;
}

.edit-event-genres.section .add-genre-confirm-btn:hover {
    cursor: pointer; /* ensure cursor is showed as pointer on hover */
    border: var(--border);
    background-color: var(--button-colour-3);
    color: var(--font-colour-primary);
    box-shadow: 1px 1px white; /* highlight on hover */
}

.edit-event-genres.section .add-genre-confirm-btn:active {
    box-shadow: 1px 1px white; /* highlight on press */
    transform: translateY(2px); /* move on press */
}

/* EVENT STATUS */
.event-status {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* ARTIST LINEUP */
/* The artist lineup for the event */
.edit-artist-lineup-section #enter-artist-name-window,
.edit-artist-lineup-section #enter-artist-set-time-window {
    margin-top: 1rem;
    margin-bottom: 1rem;

    height: 100%;
    width: 100%;
}

/* ADD MORE ARTISTS BUTTON */
/* A button to add more artists to the lineup */
.edit-artist-lineup-section #add-more-artists-btn-group {
    margin-top: 1rem;
    margin-bottom: 0rem;

    height: 100%;
    width: 100%;
}

.edit-artist-lineup-section #add-more-artists-btn {
    border: var(--border);
    background-color: var(--button-colour-5);
}

/* TICKET TIERS, PRICES & QUANTITIES *Purchased TickeMy ts /
/* Users must enter at least one ticket tier, and the no. (quantity) of
tickets belonging to that tier. */
#edit-ticket-tier-window {
    margin-top: 3rem;
    margin-bottom: 0rem;
    height: 100%;
    width: 100%;
}

#edit-ticket-tiers-description {
    padding: 5px;
    color: var(--primary-colour);
}

.ticket-tier-remove-btn {
    width: 100%;
    height: 100%;
    color: var(--font-colour-primary);
}

/* ADD MORE TICKET TIERS BUTTON */
#add-more-ticket-tiers-btn-group {
    margin-top: 2rem;
    margin-bottom: 1rem;

    height: 100%;
    width: 100%;
}

#add-more-ticket-tiers-btn {
    border: var(--border);
    background-color: var(--button-colour-5);
    margin-bottom: 4rem;
}

/* ADDITIONAL MEDIA */
/* Users may (optionally) upload any additional media to advertise
their event (or past events). */

#upload-additional-media-window {
    margin-top: 0rem;
    margin-bottom: 1rem;

    height: 100%;
    width: 100%;

    /* Add padding between content and window */
    .sub-window {
        padding: 5px;
    }

    /* Add border to input form */
    /* .form-control {
        border: var(--border);
    } */

    /* Customise form button */
    .form-control::file-selector-button {
        color: var(--font-colour-primary);
        background-color: var(--button-colour-4);
        border-right: var(
            --border
        ); /* add border between "Browse.." and file upload bar */
    }
}

/* POST EVENT BUTTON */
.save-event-section {
    .btn {
        width: 100%;
        height: 100%;
    }

    margin-top: 3rem;
    margin-bottom: 1rem;
}
