.flash-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;

    border: var(--border);
    border-radius: 6px;

    color: var(--font-colour-seconday);
    overflow: hidden;

    max-height: 30px; /* collapsed height */
    width: 300px;

    /* transition: max-height 0.3s ease; */
    transition: max-height 1.5s ease-in-out 0.2s;
    cursor: pointer;

    user-select: none; /* prevent selecting text */
}

.flash-container.expand {
    max-height: 300px;
}

.flash-container.expand:hover {
    box-shadow: 1px 1px white; /* highlight on hover */
}

.flash-container.expand:active {
    box-shadow: 1px 1px white; /* highlight on hover */
    transform: translateY(2px);
}

.success {
    height: 100%;
    width: 100%;

    font-size: large;
    text-align: center;

    color: var(--font-colour-primary);
    background-color: var(--accent-colour-3);
}

.danger {
    height: 100%;
    width: 100%;

    font-size: larger;
    text-align: center;

    color: var(--font-colour-primary);
    background-color: var(--accent-colour-4);
}

.error {
    height: 100%;
    width: 100%;

    font-size: larger;
    text-align: center;

    color: var(--font-colour-primary);
    background-color: var(--accent-colour-4);
}

.warning {
    height: 100%;
    width: 100%;

    font-size: larger;
    text-align: center;

    color: var(--font-colour-seconday);
    background-color: var(--button-colour-1);
}
